.app-bg-day{
  max-width:100%;
  min-height: 100vh;
  background: #FC5C7D; 
  background: -webkit-linear-gradient(to left, #6A82FB, #FC5C7D);  
  background: linear-gradient(to left, #6A82FB, #FC5C7D); 
  
}

.app-bg-night{
  width: 100%;
  min-height: 100vh;
  transition: background 5s ease; 
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}
@media all and (max-width:340px){
  /* .app-bg-day{
    width:200%;
  } */

}